<link rel="stylesheet" href="/css/login.css" />

<div class="container" id="">
  <form class="m-xl-5 center-block" id="login-form" action="/users/create-session" method="post">
    <h3 class="mb-4">Login</h3>
    <div class="mb-3">
      <label for="employeeEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="employeeEmail" />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-5">
      <label for="employeePassoword" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="employeePassoword" />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
</div>
