<link rel="stylesheet" href="/css/header.css" />

<div id="header">
  <a href="/">
    <h6><i class="fa-solid fa-location-crosshairs"></i> Placement Cell</h6>
  </a>
  <div class="header-actions">
    <a href="/interviews">Interviews</a>
    <a href="/students">Students</a>
    <a href="/users/logout">Sign Out</a>
  </div>
  <button class="menu-btn">
    <div class="open">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </button>
</div>

<script src="/js/header.js"></script>
