<div class="sign-in-container">
    <div class="sign-in-form-container">

    <br/>

        <form class="sign-in-form" action="/students/create" method="post">
            <label>Student Name</label>
            <input type="text" class="sign-in-form-input" name="name"/>

            <label>Email Address</label>
            <input type="email" class="sign-in-form-input" name="email"/>

            <label>College</label>
            <input type="text" class="sign-in-form-input" name="college"/>

            <label>Batch</label>
            <input type="text" class="sign-in-form-input" name="batch"/>

            <label>DSA Score</label>
            <input type="number" class="sign-in-form-input" name="dsaFinalScore"/>

            <label>Web Development Score</label>
            <input type="number" class="sign-in-form-input" name="webDFinalScore"/>

            <label>React Score</label>
            <input type="number" class="sign-in-form-input" name="reactFinalScore"/>

            <button type="submit" class="sign-in-form-button">Create Student</button>
        </form>
    </div >
</div >

<link rel="stylesheet" href="/css/login.css" />
