<link rel="stylesheet" href="/css/login.css" />


<div class="sign-in-container">
    <div class="sign-in-form-container">
        <form class="sign-in-form" action="/interviews/create" method="post">
            <label>Company Name</label>
            <input type="text" class="sign-in-form-input" name="company"/>

            <label>Date</label>
            <input type="datetime-local" class="sign-in-form-input" name="date" />

            <button type="submit" class="sign-in-form-button">Create</button>
        </form>
        <div style="height: 200px"></div>
    </div >
</div >
